* {
	font-family: "Montserrat", sans-serif;
	/*semicolon:  delimiter*/
}

h1, h2 {
	font-family: "Satisfy", sans-serif;
}

img {
	height: 250px;
	width: 250px;
}

#landing {
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #CAA78B;
}

.jumbotron {
	background-color: transparent;
}

#gallery {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #DFBDA7;
}

ul {
	list-style: none;
	padding: 0;
}

h2 {
	color: #956B4D;
}

.tools {
	padding: 20px;
	height: 200px;
	border: 5px solid #f2f2f2;
	margin: 20px;
	width: 75%;
}


html {
	scroll-behavior: smooth;
}


.navbar {
	background-color: #E5CEC1;
}
.nav-link {
	color: #CAA78B;
	margin-right: 50px;
}

.nav-link:hover {
	color: black;
} 